# Add any directories, files, or patterns you don't want to be tracked by version control
# Directories #
build/
bin/
target/
libs/
tmp/
node_modules/

#####################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml
